services:
  backend:
    build:
      context: .
      dockerfile: ./deployment/local/backend/Dockerfile
    ports:
      - "8000:8000"
    volumes:
      - .:/app/
    environment:
      - DJANGO_SETTINGS_MODULE=configs.settings.local
    env_file:
      - .envs/local/django
      - .envs/local/postgres
    container_name: django
    command: /start
    depends_on:
      - postgres-db
      - redis
      - elasticsearch

  postgres-db:
    image: postgres:13-alpine
    env_file: .envs/local/postgres
    container_name: postgres-db
    ports:
      - "5432:5432"
    environment:
      - POSTGRES_HOST_AUTH_METHOD=trust

  redis:
    image: redis:6-alpine
    container_name: redis
    expose:
      - "6379"
    ports:
      - "6379:6379"

  worker:
    build:
      context: .
      dockerfile: ./deployment/local/worker/Dockerfile
    container_name: worker
    command: /start-worker
    environment:
      - DJANGO_SETTINGS_MODULE=configs.settings.local
    env_file:
      - .envs/local/postgres
      - .envs/local/django
    volumes:
      - .:/app/
    depends_on:
      - backend
      - redis
    
  elasticsearch:
    image: elasticsearch:8.12.0
    container_name: elasticsearch
    environment:
      - discovery.type=single-node
      - xpack.security.enabled=false
      - ES_JAVA_OPTS=-Xms512m -Xmx512m
    ports:
      - "9200:9200"
    volumes:
      - esdata:/usr/share/elasticsearch/data

volumes:
  esdata:
